body {
  padding: 0;
  margin: 0;
}

.titleContainer {
  display: flex;
  position: relative;
  background-image: url('./assets/swimtiger.jpg');
  background-size: cover;
  background-position: center;
  width: 98.9vw;
  height: 97vh;
}

.navOpened {
  width: 8rem;
  z-index: 1;
}

.login, .logout {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 2rem;
}

.navClosed {
  height: 100%;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  overflow-y: hidden;
  transition: 0.5s;
}

h1 {
  padding: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 6rem;
  margin-right: 13rem;
}

.login {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.menuIcon {
  padding: 1.5rem;
  max-width: min-content;
}

.MuiSvgIcon-root {
  padding: .5rem;
}

.MuiSvgIcon-root:hover {
  cursor: pointer;
  border-radius: 2rem;
  background-color: rgba(139, 208, 230, 0.4)
}
