body, #root {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('./assets/swimtiger.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.others {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 2;
}

.follow {
  grid-column: 1 / -1;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.company, .legal, .sitemap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}


.latest {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 1.5rem;
  padding-bottom: .5rem;
}

.author {
  font-weight: bolder;
}

.time {
  font-style: italic;
  color: #8c8c8c;
}

.text {
  padding-top: 1rem;
}

h5 {
  font-family: 'Kurale';
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.continue, .loginContinue {
  padding: 0;
  margin: 0;
  display: flex;
  color: rgb(13, 107, 49);
  width: max-content;
  border: none;
  border-radius: 0;
}

.continue {
  justify-self: flex-end;
}

.continue:hover, .loginContinue:hover {
  color: rgb(13, 107, 49);
  border-bottom: 2px solid rgb(13, 107, 49);
}

.bottomContainer {
  color: white;
  display: flex;
  background-color: rgb(128, 126, 126);
  background-size: cover;
  width: 100vw;
  max-height: 80vh;
}

.btm:hover, .btmLinks:hover {
  box-shadow: none;
  color: rgb(7, 241, 7) !important;
  cursor: pointer;
}
.btm {
  box-shadow: none;
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Merienda';
}

h6 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: .5rem !important;
  margin: 0;
  width: max-content;
  font-size: 1.3rem;
  border-bottom: 1px solid white;
  font-family: 'Merienda';
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  align-self: center;
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  width: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

li:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 6px 0px, rgba(14, 30, 37, 0.32) 0px 4px 32px 0px;
}

.apex {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  justify-content: center;
}

.copyright {
  padding: 0;
  margin: 0;
  font-size: smaller;
}

.x {
  padding: 0;
}

.pac {
  color: green;
  gap: 1rem;
  height: 80vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rely {
  color: green;
  padding: 3rem;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 0;
  color: green;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-style: italic;
  font-family: 'Merienda';
  background-color: rgba(87, 90, 90, 0.3);
}

.head {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
  width: 100%;
  height: 6rem;
}

h1 {
  display: flex;
  flex-grow: 2;
  font-family: 'Merienda';
  color: green;
}

.headScroll {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100%;
  height: 6rem;
  background-color: rgba(192, 194, 194, 0.3);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navOpened {
  background-color: white;
  display: flex;
  position: fixed;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10rem;
  z-index: 1;
  transition: 0.5s ease-in-out;
  box-shadow: 12px 2px 12px -2px rgba(0,0,0,0.57);
}

#CloseIcon {
  color: rgb(13, 107, 49);
}

.login, .logout {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

nav {
  transition: transform 0.5s ease-in-out;
}

.in, .out, .post, .topic {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  color: rgb(13, 107, 49);
  justify-content: center;
}

.logOutBtn {
  display: flex;
  justify-content: center;
  color: rgb(2, 70, 47);
  width: 100%;
  background-color: transparent;
  margin: 1rem;
  border: none;
  border-radius: 0;
  margin-left: 0;
  font-size: 2rem;
}

img {
  width: 50vw;
}

form {
  width: 50%;
}

.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bothErr {
  color: darkred;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.btn-primary {
  width: max-content;
  color: green;
  background-color: white;
  border: 2px solid green;
}

.form-control:focus {
  border-color: green;
  box-shadow: -1px 2px 14px -3px rgba(13,107,0,1);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus-visible, .btn-primary:active {
  color: white;
  background-color: green;
  box-shadow: -1px 2px 14px -3px rgba(13,107,0,1);
  border-color: green;
  
}

.passFail {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.passie {
  margin: 0;
}

.fail, .pass {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.topicBody {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.topicList {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Bears {
  background-image: url('./assets/bears.jpg');
  background-size: cover;
  background-position: center;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
}

#Reptiles {
  background-image: url('./assets/reptiles.jpg');
  background-position: left top;
  background-size: cover;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
}

#Ocean\ animals {
  background-image: url('./assets/whales.jpg');
  background-position: left top;
  background-size: cover;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
}

#Big\ Cats {
  background-image: url('./assets/bigcats.jpg');
  background-size: cover;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
}

#Bears:hover, #Reptiles:hover, #Ocean\ animals:hover, #Big\ Cats:hover {
  cursor: pointer;
  opacity: 0.7;
  color: white;
  transition: 0.6s ease-in-out;
}

.topicItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.topicItem:hover {
  box-shadow: none;
}

h2 {
  color: green;
  font-size: 6rem;
  font-family: 'Kurale';
  padding-bottom: 1rem;
}

a {
  color: green !important;
}

.btmLinks {
  color: white !important;
  font-size: 1rem;
  font-weight: 400;
}

.in:hover, .out:hover, .logOutBtn:hover, .post:hover, .topic:hover {
  color: rgb(17, 153, 78);
  background-color: rgba(102, 103, 104, 0.1);
  border-right: 6px solid rgb(13, 107, 49);
  box-shadow: 9px 1px 14px -5px rgba(13,107,0,1);
}

.topicRel {
  display: flex;
  justify-content: space-around;
}

.topicDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-self: center;
  align-self: center;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: green;
  font-weight: 600;
  font-size: 1.5rem;
}

.postListItem {
  box-shadow: none;
  border-bottom: 2px solid #ddd;
}

#pl {
  cursor: pointer;
}

#pl:hover #pld {
  color: green;
}

.postDetail {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.postListContainer {
  display: flex;
  flex-direction: column;
}

#hl {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.postListItem:last-child {
  border-bottom: none;
}

h4 {
  display: flex;
  justify-content: center;
  background-color: darkgreen;
  color: white;
  font-size: 2.5rem;
  padding: 2rem;
}

.postList {
  margin-top: 7rem;
}

.navClosed {
  height: 100%;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.topicDets {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.menuIcon {
  display: flex;
  flex-shrink: 1;
  padding: 1.5rem;
  max-width: min-content;
  justify-self: flex-start !important;
}

.MuiSvgIcon-root {
  padding: .5rem;
}

.MuiSvgIcon-root:hover {
  cursor: pointer;
  border-radius: 2rem;
  background-color: rgba(102, 103, 104, 0.1)
}

.fail {
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  color: red;
}

.pass {
  width: 100%;
  flex-direction: row;
  color: green;
}

.pass:hover, .fail:hover {
  box-shadow: none;
}

.fail:before {
  position: relative;
  left: -25px;
  content: "\2717";
}

.pass:before {
  color: green;
  position: relative;
  left: -25px;
  content: "\2713";
}

.postxt {
  color: green;
  font-size: 1.5rem;
  padding: 4rem;
  max-width: 60%;
  align-self: center;
}

.commentContainer {
  display: flex;
  width: 100%;
  padding-left: 2rem;
}

.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name, .time {
  padding: 0;
  margin: 0;
}

.name, .time {
  font-size: .8rem;
}

.cmntxt {
  padding-top: .5rem;
}

.homeList {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.relpos {
  width: 21rem;
  height: 21rem;
}

.start {
  flex-grow: 1;
}

.eNd {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.cmntForm {
  display: flex;
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.cmntInput {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #ddd;
}

.cmntInput:hover, .cmntInput:focus {
  border-bottom: 2px solid green;
  background-color: #ebebeb;
}

.btm {
  text-align: center;
}

.submitComment {
  padding: .3rem;
  border: 2px solid green;
  margin-right: 1rem;
  color: green;
}

.submitComment:hover {
  background-color: green;
  color: white;
}

.editBtn, .deleteBtn {
  padding: 0;
  border: none;
  width: max-content;
  height: max-content;
}

@media (max-width: 768px) {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .postxt {
    padding: 2rem;
  }

  .passFail {
    margin-left: 5rem;
  }

  .head, .headScroll {
    background-color: rgba(15, 238, 238, 0.3);
  }

  .menuIcon {
    padding: .5rem;
  }

  li {
    width: 90%;
  }

  .titleContainer {
    background-image: url('./assets/swimtigermobile.jpg');
  }

  h1 {
    font-size: 2rem !important;
    margin: 0;
    color: rgb(5, 5, 5);
  }

  h5 {
    font-size: 1rem;
  }

  h6, .follow {
    font-size: .75rem;
  }

  .btm, .btmLinks, .copyright  {
    font-size: .6rem;
  }

  .follow {
    left: 0;
  }

  .apex {
    padding-left: 0.8rem;
    width: 5rem;
  }

  .topicDescription {
    width: 100%;
  }

  .company {
    padding: 0;
  }

  .btm {
    text-align: center;
  }

  img {
    display: none;
  }

  .topicList {
    display: flex;
    flex-direction: column;
  }

  #Bears {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: top;
    color: white;
  }

  #Reptiles {
    background-position: center;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #Big\ Cats {
    background-position: center;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #Ocean\ animals {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
  }

  h3 {
    text-align: center;
  }

  .postxt {
    max-width: 100% !important;
  }

  form {
    width: 90%;
  }

  .navOpened {
    width: 100vw;
  }

  .login, .logout {
    justify-content: center;
  }
}